---
const locals = Astro.locals;
const ENVIRONMENT = locals.runtime.env.DEV;
const environ = import.meta.env.DEV;
console.log('environ', environ);
console.log('ENVIRONMENT', ENVIRONMENT);
---
<div class="p-4 bg-slate-200 w-full h-full ">
	<p>ENVIRONMENT: {ENVIRONMENT}</p>
	<p>environ: {environ}</p>
</div>